<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



    <!-- <div class="col-lg-1"></div> -->
    <!-- <div class="col-lg-11">
        <ul>
            <li><h2>Pasantía EIKON, Ensamblado de computadoras</h2></li>
            <h3>Octubre 2021</h3>
            <p>- Ensamblado de monitores, gabinetes, etc.<br>
            - Instalación de Sistema Operativo.</p>
        </ul>
        <ul>
            <li><h2>Super Imperio S.A., Servicio de atención al cliente</h2></li>
            <h3>Diciembre 2020 - Febrero 2021</h3>
            <p><b>Depósito central:</b><br>
            - Control de stock de mercancías.<br>
            - Comprobación del estado de la mercancía recibida.<br>
            - Actualización de inventario.<br>
            - Comprobación, cotejar y marcar la mercancía que entraba en el almacén.<br>
            - Clasificación de las cargas para ser ubicadas en el lugar y posición correctos del almacén.<br>
            <b>Sucursal Supermercado.</b><br>
            - Atención al público en sucursales de venta.</p>
        </ul>
        <ul>
            <li><h2>Ejército Argentino, Soldado Voluntario</h2></li>
            <h3>Junio 2015 - Marzo 2020</h3>
            <p>- Tareas administrativas.<br>
            - Servicios de guardia.<br>
            - Mantenimiento de instalaciones, armamento y equipamiento militar.</p>
        </ul>
        <ul>
            <li><h2>Estación de Servicio Esso, Servicio de atención al cliente</h2></li>
            <h3>Octubre 2012 - Junio 2015</h3>
            <p>- Atención al público y venta en Shop.<br>
            - Servicio de cafetería y panadería.<br>
            - Control de stock e inventario.</p>
        </ul>
    </div>
</div> -->
